:root {
    --primary-color: rgb(180, 180, 180);
    --secondary-color: rgb(220, 220, 220);
}

html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    background-color: rgb(26, 26, 26);
}

main {
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-color);
}

label {
    width: 90%;
}

input {
    background-color: transparent;
    border: none;
    text-align: center;
}

.material-icons-outlined {
    user-select: none;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-4em {
    font-size: 4em;
}

.font-2em {
    font-size: 2em;
}

.list-title {
    font-size: 1.1em;
    margin: 6px 0;
    width: 90%;
    color: var(--secondary-color);
}

.list-title:focus {
    outline: rgb(150, 150, 150) solid 1px;
}

.horizontal-line {
    width: 90%;
    height: 2px;
    background-color: var(--primary-color);
}

.delete-list {
    align-self: flex-start;
    margin: auto 0 12px 12px;
    color: rgb(241, 38, 38);
}

.delete-action-info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(241, 38, 38);
    display: inline-block;
    font-size: 1.3m;
}

div.delete-list:hover > span {
    color: rgb(247, 105, 105);
}

div.task-list {
    width: 240px;
    height: 240px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-color);
    background-color: rgb(40, 40, 40);
    border-radius: 24px;
    cursor: pointer;
}
