html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;
    padding: 2px;
    margin: 4px 8px;
    border: none;
    background-color: #888;
    flex-grow: 1;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

label.checkbox-container {
    margin: 0 12px;
}

.checkmark {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox-container:hover .checkmark {
    background-color: #eee;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: orange;
}

.checkmark::after {
    content: "";
    position: relative;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark::after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label.title-input {
    margin-right: 12px;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    height: 32px;
    width: 60%;
    font-size: 1em;
    flex-grow: 1;
}

.font-2em {
    font-size: 2em;
}

.task-info {
    display: grid;
    grid-template-columns: 44px 1fr 112px 48px;
    height: 48px;
    /* width: 700px; */
    background-color: #777;
    border-left: 12px solid red;
}

button.details-button {
    background-color: transparent;
    border: none;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 8px;
    padding: 0;
}

.task-container {
    width: 820px;
    margin: 8px 0;
    flex-direction: column;
}

div.details {
    width: 100%;
    height: 240px;
    background-color: #999;
    display: flex;
    align-items: stretch;
}

div.details > * {
    flex-grow: 1;
    width: 50%;
}

.description {
    display: flex;
    align-items: stretch;
}

.task-data-container {
    display: flex;
    flex-direction: column;
}

.task-data-container section {
    height: 96px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details-section > * {
    height: 50%;
}

div.section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.section-title span {
    margin-left: 12px;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.priority-preview {
    width: 70px;
    margin: 4px 6px;
    padding: 8px;
    background-color: beige;
}

.details-section ul {
    flex-direction: row;
    align-items: normal;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
}

.details-section ul li {
    width: 80px;
    text-align: center;
}

.details-section ul li:hover {
    background-color: #555;
}

#new-task {
    height: 48px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
}